body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
}

h1, h2 {
    margin-left: 50px;
    color: #333;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #008C77;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.header-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-product-form {
    margin: 30px; /* Adjust as needed */
    margin-right: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button[type=submit] {
    background-color: #f44336;
}

form {
    display: inline;
}

form[action*="deleteProduct"] button {
    background-color: #f44336; /* Red */
}

form[action*="showUpdateProductForm"] button {
    background-color: #008CBA; /* Blue */
}

form[action*="showAddProductForm"] button {
    background-color: #4CAF50; /* Green */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.error {
    color: #f44336; /* Red */
}

.success {
    color: #4CAF50; /* Green */
}