h1, h2 {
    margin-left: 50px;
    color: #333;
}

.category-cards {
    background: white;
    margin: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category-card {
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.category-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.category-card p {
    margin-bottom: 15px;
}

.category-card a {
    display: block;
    text-align: center;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.category-card a:hover {
    background-color: #555;
}