@(userOption: Option[String])

@clientMain("Home","stylesheets/clientHome.css", userOption) {
    <section class="category-cards">
        <div class="category-card">
            <h2>Men</h2>
            <p>Step into the world of effortless style and refined masculinity with our Men's collection.<br><br></p>
            <a href="#">View Products</a>
        </div>
        <div class="category-card">
            <h2>Women</h2>
            <p>Empower your style with our Women's Collection! Step into a world where fashion meets confidence, and individuality reigns supreme.</p>
            <a href="#">View Products</a>
        </div>
        <div class="category-card">
            <h2>Kids</h2>
            <p>"Welcome to our Kids' World! Dive into a magical realm where imagination knows no bounds.<br><br></p>
            <a href="#">View Products</a>
        </div>
    </section>
}